.section-Tags {
  h3 {
    font-family: 'pixellarimedium';
  }
  margin: 30px 0 60px 0;
  .section-TagsList {
    @include flexbox();
    @include flex-wrap(wrap);
    .tag-item {
      text-decoration: none;
      font-family: Roboto;
      border: 1px solid #d8d8d8;
      border-radius: 8px;
      width: 160px;
      height: 40px;
      background-color: #ffffff;
      padding: 0 5px;
      margin: 5px 10px;
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);

      .tag-iconName {
        display: inline-flex;
        @include align-items(center);

        img {
          width: 24px;
          margin-right: 5px;
        }

        .tag-name {
          margin: 0 0;
          font-size: 12px;
          font-weight: 500;
          color: #000000;
        }
      }

      .tag-number {
        font-size: 10px;
        color: #8d8d8d;
      }
    }
  }
}
