/*
.dropright .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 1.125rem;

}
*/
.back-to-top {
  background-color: $primary;
  @include media-breakpoint-down(sm) {
    font-size: 10px;
    z-index: $zindex-modal-backdrop - 1;
  }
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

